lib/grm/src/grm/dom_render/graphics_tree/private_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           vc:minVersion="1.1">

    <!-- definition of root -->
    <xs:element name="root">
        <xs:complexType>
            <xs:attribute name="_clear_ws" type="xs:integer" use="required"/>
            <xs:attribute name="_id" type="xs:integer" use="required"/>
            <xs:attribute name="_modified" type="xs:integer" use="required"/>
            <xs:attribute name="_update_ws" type="xs:integer" use="required"/>
        </xs:complexType>
        <xs:unique name="_bboxidisunique">
            <xs:selector xpath=".//*"/>
            <xs:field xpath="@_bbox_id"/>
        </xs:unique>
        <xs:unique name="figureidisunique">
            <xs:selector xpath="figure"/>
            <xs:field xpath="@_figure_id"/>
        </xs:unique>
    </xs:element>

    <!-- definition of figure -->
    <xs:element name="figure">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_figure_id" type="xs:string" use="required"/>
            <xs:attribute name="_initial_height" type="xs:double"/>
            <xs:attribute name="_initial_width" type="xs:double"/>
            <xs:attribute name="_kind_changed" type="xs:integer"/>
            <xs:attribute name="_previous_pixel_height" type="xs:integer"/>
            <xs:attribute name="_previous_pixel_width" type="xs:integer"/>
            <xs:attribute name="_ws_viewport_set_by_user" type="xs:integer"/>
            <xs:attribute name="_ws_window_set_by_user" type="xs:integer"/>
        </xs:complexType>
        <xs:unique name="plotidisunique">
            <xs:selector xpath="plot"/>
            <xs:field xpath="@_plot_id"/>
        </xs:unique>
    </xs:element>

    <!-- definition of layout_grid -->
    <xs:element name="layout_grid">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_viewport_normalized_x_max_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_x_max_set_by_user" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_x_min_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_x_min_set_by_user" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_y_max_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_y_max_set_by_user" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_y_min_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_y_min_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of layout_grid_element -->
    <xs:element name="layout_grid_element">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_start_col" type="xs:integer"/>
            <xs:attribute name="_start_row" type="xs:integer"/>
            <xs:attribute name="_stop_col" type="xs:integer"/>
            <xs:attribute name="_stop_row" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_x_max_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_x_max_set_by_user" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_x_min_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_x_min_set_by_user" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_y_max_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_y_max_set_by_user" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_y_min_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_y_min_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of draw_graphics -->
    <xs:element name="draw_graphics">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of plot -->
    <xs:element name="plot">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_active" type="xs:integer"/>
            <xs:attribute name="_active_through_update" type="xs:integer"/>
            <xs:attribute name="_bottom_window_xform_a" type="xs:double"/>
            <xs:attribute name="_bottom_window_xform_a_org" type="xs:double"/>
            <xs:attribute name="_bottom_window_xform_b" type="xs:double"/>
            <xs:attribute name="_bottom_window_xform_b_org" type="xs:double"/>
            <xs:attribute name="_c_lim_max" type="xs:double"/>
            <xs:attribute name="_c_lim_min" type="xs:double"/>
            <xs:attribute name="_char_height_set_by_user" type="xs:integer"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
            <xs:attribute name="_kind" type="xs:string" use="required"/>
            <xs:attribute name="_left_window_xform_a" type="xs:double"/>
            <xs:attribute name="_left_window_xform_a_org" type="xs:double"/>
            <xs:attribute name="_left_window_xform_b" type="xs:double"/>
            <xs:attribute name="_left_window_xform_b_org" type="xs:double"/>
            <xs:attribute name="_initial_factor" type="xs:double"/>
            <xs:attribute name="_original_adjust_x_lim" type="xs:integer"/>
            <xs:attribute name="_original_adjust_y_lim" type="xs:integer"/>
            <xs:attribute name="_original_x_lim" type="xs:integer"/>
            <xs:attribute name="_original_x_max" type="xs:double"/>
            <xs:attribute name="_original_x_min" type="xs:double"/>
            <xs:attribute name="_original_y_lim" type="xs:integer"/>
            <xs:attribute name="_original_y_max" type="xs:double"/>
            <xs:attribute name="_original_y_min" type="xs:double"/>
            <xs:attribute name="_overwrite_kind_dependent_defaults" type="xs:integer"/>
            <xs:attribute name="_plot_id" type="xs:string" use="required"/>
            <xs:attribute name="_r_lim_max" type="xs:double"/>
            <xs:attribute name="_r_lim_min" type="xs:double"/>
            <xs:attribute name="_right_window_xform_a" type="xs:double"/>
            <xs:attribute name="_right_window_xform_a_org" type="xs:double"/>
            <xs:attribute name="_right_window_xform_b" type="xs:double"/>
            <xs:attribute name="_right_window_xform_b_org" type="xs:double"/>
            <xs:attribute name="_selected_for_menu" type="xs:integer"/>
            <xs:attribute name="_start_aspect_ratio" type="xs:double"/>
            <xs:attribute name="_theta_lim_max" type="xs:double"/>
            <xs:attribute name="_theta_lim_min" type="xs:double"/>
            <xs:attribute name="_top_window_xform_a" type="xs:double"/>
            <xs:attribute name="_top_window_xform_a_org" type="xs:double"/>
            <xs:attribute name="_top_window_xform_b" type="xs:double"/>
            <xs:attribute name="_top_window_xform_b_org" type="xs:double"/>
            <xs:attribute name="_twin_x_window_xform_a" type="xs:double"/>
            <xs:attribute name="_twin_x_window_xform_a_org" type="xs:double"/>
            <xs:attribute name="_twin_x_window_xform_b" type="xs:double"/>
            <xs:attribute name="_twin_x_window_xform_b_org" type="xs:double"/>
            <xs:attribute name="_twin_y_window_xform_a" type="xs:double"/>
            <xs:attribute name="_twin_y_window_xform_a_org" type="xs:double"/>
            <xs:attribute name="_twin_y_window_xform_b" type="xs:double"/>
            <xs:attribute name="_twin_y_window_xform_b_org" type="xs:double"/>
            <xs:attribute name="_update_limits" type="xs:integer"/>
            <xs:attribute name="_viewport_normalized_x_max_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_x_min_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_y_max_org" type="xs:double"/>
            <xs:attribute name="_viewport_normalized_y_min_org" type="xs:double"/>
            <xs:attribute name="_x_lim_max" type="xs:double"/>
            <xs:attribute name="_x_lim_min" type="xs:double"/>
            <xs:attribute name="_y_lim_max" type="xs:double"/>
            <xs:attribute name="_y_lim_min" type="xs:double"/>
            <xs:attribute name="_y_line_pos" type="xs:double"/>
            <xs:attribute name="_z_lim_max" type="xs:double"/>
            <xs:attribute name="_z_lim_min" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of marginal_heatmap_plot -->
    <xs:element name="marginal_heatmap_plot">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_viewport"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of central_region -->
    <xs:element name="central_region">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_before_centering_polar_vp_x_max" type="xs:double"/>
            <xs:attribute name="_before_centering_polar_vp_x_min" type="xs:double"/>
            <xs:attribute name="_before_centering_polar_vp_y_max" type="xs:double"/>
            <xs:attribute name="_before_centering_polar_vp_y_min" type="xs:double"/>
            <xs:attribute name="_bottom_axis_border" type="xs:double"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
            <xs:attribute name="_diag_factor" type="xs:double"/>
            <xs:attribute name="_left_axis_border" type="xs:double"/>
            <xs:attribute name="_right_axis_border" type="xs:double"/>
            <xs:attribute name="_skip_calculations" type="xs:integer"/>
            <xs:attribute name="_space_3d_phi_org" type="xs:double"/>
            <xs:attribute name="_space_3d_theta_org" type="xs:double"/>
            <xs:attribute name="_top_axis_border" type="xs:double"/>
            <xs:attribute name="_vp_with_extent" type="xs:double"/>
            <xs:attribute name="_window_set_by_user" type="xs:integer"/>
            <xs:attribute name="_zoomed" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of side_region -->
    <xs:element name="side_region">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
            <xs:attribute name="_offset_set_by_user" type="xs:integer"/>
            <xs:attribute name="_viewport_offset" type="xs:double"/>
            <xs:attribute name="_width_set_by_user" type="xs:integer"/>
            <xs:attribute name="_window_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of side_plot_region -->
    <xs:element name="side_plot_region">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
            <xs:attribute name="_viewport_offset" type="xs:double"/>
            <xs:attribute name="_window_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of text_region -->
    <xs:element name="text_region">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_char_up_set_by_user" type="xs:integer"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of coordinate_system -->
    <xs:element name="coordinate_system">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_char_height_set_by_user" type="xs:integer"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
        </xs:complexType>
        <xs:unique name="axisidisunique">
            <xs:selector xpath="axis"/>
            <xs:field xpath="@_axis_id"/>
        </xs:unique>
    </xs:element>

    <!-- definition of grid_3d -->
    <xs:element name="grid_3d">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of axis -->
    <xs:element name="axis">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_axis_id" type="xs:integer" use="required"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
            <xs:attribute name="_ignore_next_tick_orientation" type="xs:integer"/>
            <xs:attribute name="_label_orientation_set_by_user" type="xs:integer"/>
            <xs:attribute name="_label_pos_set_by_user" type="xs:integer"/>
            <xs:attribute name="_major_count_set_by_user" type="xs:integer"/>
            <xs:attribute name="_max_value_set_by_user" type="xs:double"/>
            <xs:attribute name="_min_value_set_by_user" type="xs:double"/>
            <xs:attribute name="_num_tick_set_by_user" type="xs:integer"/>
            <xs:attribute name="_num_tick_labels_set_by_user" type="xs:integer"/>
            <xs:attribute name="_org_set_by_user" type="xs:double"/>
            <xs:attribute name="_pos_set_by_user" type="xs:double"/>
            <xs:attribute name="_tick_set_by_user" type="xs:double"/>
            <xs:attribute name="_tick_orientation_set_by_user" type="xs:integer"/>
            <xs:attribute name="_tick_size_org" type="xs:double"/>
            <xs:attribute name="_tick_size_set_by_user" type="xs:double"/>
            <xs:attribute name="_twin_x_window_xform_a" type="xs:double"/>
            <xs:attribute name="_twin_x_window_xform_b" type="xs:double"/>
            <xs:attribute name="_twin_y_window_xform_a" type="xs:double"/>
            <xs:attribute name="_twin_y_window_xform_b" type="xs:double"/>
            <xs:attribute name="_window_old_x_max" type="xs:double"/>
            <xs:attribute name="_window_old_x_min" type="xs:double"/>
            <xs:attribute name="_window_old_y_max" type="xs:double"/>
            <xs:attribute name="_window_old_y_min" type="xs:double"/>
            <xs:attribute name="_window_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of tick_group -->
    <xs:element name="tick_group">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_char_height_set_by_user" type="xs:integer"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_tick_size_org" type="xs:double"/>
            <xs:attribute name="_tick_size_set_by_user" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of tick -->
    <xs:element name="tick">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_value_set_by_user" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of grid_line -->
    <xs:element name="grid_line">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_is_major_set_by_user" type="xs:integer"/>
            <xs:attribute name="_value_set_by_user" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of axes_3d -->
    <xs:element name="axes_3d">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_tick_orientation_set_by_user" type="xs:integer"/>
            <xs:attribute name="_tick_size_org" type="xs:double"/>
            <xs:attribute name="_tick_size_set_by_user" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of text -->
    <xs:element name="text">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_space_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of titles_3d -->
    <xs:element name="titles_3d">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of legend -->
    <xs:element name="legend">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
            <xs:attribute name="_initial_scale_factor" type="xs:double"/>
            <xs:attribute name="_legend_elems" type="xs:integer"/>
            <xs:attribute name="_scale_factor" type="xs:double"/>
            <xs:attribute name="_scale_set_by_user" type="xs:integer"/>
            <xs:attribute name="_select_specific_xform_set_by_user" type="xs:integer"/>
            <xs:attribute name="_start_h" type="xs:double"/>
            <xs:attribute name="_start_w" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of label -->
    <xs:element name="label">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_char_height_set_by_user" type="xs:integer"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of radial_axes -->
    <xs:element name="radial_axes">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_r_max" type="xs:double"/>
            <xs:attribute name="_window_old_x_max" type="xs:double"/>
            <xs:attribute name="_window_old_x_min" type="xs:double"/>
            <xs:attribute name="_window_old_y_max" type="xs:double"/>
            <xs:attribute name="_window_old_y_min" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of arc_grid_line -->
    <xs:element name="arc_grid_line">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of theta_axes -->
    <xs:element name="theta_axes">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of angle_line -->
    <xs:element name="angle_line">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of error_bars -->
    <xs:element name="error_bars">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of polyline_3d -->
    <xs:element name="polyline_3d">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of polyline -->
    <xs:element name="polyline">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of polymarker -->
    <xs:element name="polymarker">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_marker_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of polymarker_3d -->
    <xs:element name="polymarker_3d">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_marker_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of fill_rect -->
    <xs:element name="fill_rect">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of draw_rect -->
    <xs:element name="draw_rect">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of colorbar -->
    <xs:element name="colorbar">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_viewport"/>
            <xs:attribute name="_char_height_set_by_user" type="xs:integer"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_default_diag_factor" type="xs:double"/>
            <xs:attribute name="_diag_factor" type="xs:double"/>
            <xs:attribute name="_viewport_offset" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of cell_array -->
    <xs:element name="cell_array">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_num_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_num_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_start_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_start_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_x_dim_set_by_user" type="xs:integer"/>
            <xs:attribute name="_x_max_set_by_user" type="xs:double"/>
            <xs:attribute name="_x_min_set_by_user" type="xs:double"/>
            <xs:attribute name="_y_dim_set_by_user" type="xs:integer"/>
            <xs:attribute name="_y_max_set_by_user" type="xs:double"/>
            <xs:attribute name="_y_min_set_by_user" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of nonuniform_cell_array -->
    <xs:element name="nonuniform_cell_array">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_num_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_num_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_start_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_start_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_x_dim_set_by_user" type="xs:integer"/>
            <xs:attribute name="_y_dim_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of polar_cell_array -->
    <xs:element name="polar_cell_array">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_num_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_num_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_r_dim_set_by_user" type="xs:integer"/>
            <xs:attribute name="_r_max_set_by_user" type="xs:double"/>
            <xs:attribute name="_r_min_set_by_user" type="xs:double"/>
            <xs:attribute name="_r_org_set_by_user" type="xs:double"/>
            <xs:attribute name="_start_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_start_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_theta_dim_set_by_user" type="xs:integer"/>
            <xs:attribute name="_theta_max_set_by_user" type="xs:double"/>
            <xs:attribute name="_theta_min_set_by_user" type="xs:double"/>
            <xs:attribute name="_theta_org_set_by_user" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of nonuniform_polar_cell_array -->
    <xs:element name="nonuniform_polar_cell_array">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_num_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_num_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_r_dim_set_by_user" type="xs:integer"/>
            <xs:attribute name="_r_org_set_by_user" type="xs:double"/>
            <xs:attribute name="_start_col_set_by_user" type="xs:integer"/>
            <xs:attribute name="_start_row_set_by_user" type="xs:integer"/>
            <xs:attribute name="_theta_dim_set_by_user" type="xs:integer"/>
            <xs:attribute name="_theta_org_set_by_user" type="xs:double"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of draw_image -->
    <xs:element name="draw_image">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of draw_arc -->
    <xs:element name="draw_arc">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of fill_arc -->
    <xs:element name="fill_arc">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of fill_area -->
    <xs:element name="fill_area">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- ||||||||||||||||||||||||||||| Plottypes |||||||||||||||||||||||||||||||||||||||| -->

    <!-- definition of series_barplot -->
    <xs:element name="series_barplot">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_contour -->
    <xs:element name="series_contour">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_contourf -->
    <xs:element name="series_contourf">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_heatmap -->
    <xs:element name="series_heatmap">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_hexbin -->
    <xs:element name="series_hexbin">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hexbin_context_address" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_histogram -->
    <xs:element name="series_histogram">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_imshow -->
    <xs:element name="series_imshow">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_isosurface -->
    <xs:element name="series_isosurface">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_line -->
    <xs:element name="series_line">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_marker_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_nonuniform_heatmap -->
    <xs:element name="series_nonuniform_heatmap">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_nonuniform_polar_heatmap -->
    <xs:element name="series_nonuniform_polar_heatmap">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_pie -->
    <xs:element name="series_pie">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_text_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_line3 -->
    <xs:element name="series_line3">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_polar_heatmap -->
    <xs:element name="series_polar_heatmap">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_polar_histogram -->
    <xs:element name="series_polar_histogram">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_total" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_polar_line -->
    <xs:element name="series_polar_line">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attributeGroup ref="_marker_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_polar_scatter -->
    <xs:element name="series_polar_scatter">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_marker_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_quiver -->
    <xs:element name="series_quiver">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_scatter -->
    <xs:element name="series_scatter">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_marker_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_scatter3 -->
    <xs:element name="series_scatter3">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_marker_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_shade -->
    <xs:element name="series_shade">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_stairs -->
    <xs:element name="series_stairs">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_stem -->
    <xs:element name="series_stem">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_hidden" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_surface -->
    <xs:element name="series_surface">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_tricontour -->
    <xs:element name="series_tricontour">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_trisurface -->
    <xs:element name="series_trisurface">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_volume -->
    <xs:element name="series_volume">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_volume_context_address" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of series_wireframe -->
    <xs:element name="series_wireframe">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_data"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- ||||||||||||||||||||||||||||| series subgroups |||||||||||||||||||||||||||||||||||||||| -->

    <!-- definition of error_bar -->
    <xs:element name="error_bar">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of bar -->
    <xs:element name="bar">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
            <xs:attribute name="_text_color_ind_set_by_user" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of integral -->
    <xs:element name="integral">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of integral_group -->
    <xs:element name="integral_group">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of polar_bar -->
    <xs:element name="polar_bar">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attributeGroup ref="_line_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>

    <!-- definition of pie_segment -->
    <xs:element name="pie_segment">
        <xs:complexType>
            <xs:attributeGroup ref="_bbox"/>
            <xs:attributeGroup ref="_fill_modifications"/>
            <xs:attribute name="_child_id" type="xs:integer"/>
        </xs:complexType>
    </xs:element>


    <!-- ||||||||||||||||||||||||||||| attribute groups |||||||||||||||||||||||||||||||||||||||| -->

    <!-- definition of _bbox attributes -->
    <xs:attributeGroup name="_bbox">
        <xs:attribute name="_bbox_id" type="xs:integer"/>
        <xs:attribute name="_bbox_x_max" type="xs:double"/>
        <xs:attribute name="_bbox_x_min" type="xs:double"/>
        <xs:attribute name="_bbox_y_max" type="xs:double"/>
        <xs:attribute name="_bbox_y_min" type="xs:double"/>
        <xs:attribute name="_delete_children" type="xs:integer"/>
        <xs:attribute name="_highlighted" type="xs:integer"/>
        <xs:attribute name="_selected" type="xs:integer"/>
        <xs:attribute name="_update_required" type="xs:integer"/>
    </xs:attributeGroup>

    <!-- definition of _data attributes -->
    <xs:attributeGroup name="_data">
        <xs:attribute name="_r_org" type="xs:string"/>
        <xs:attribute name="_r_range_max_org" type="xs:double"/>
        <xs:attribute name="_r_range_min_org" type="xs:double"/>
        <xs:attribute name="_x_org" type="xs:string"/>
        <xs:attribute name="_x_range_max_org" type="xs:double"/>
        <xs:attribute name="_x_range_min_org" type="xs:double"/>
        <xs:attribute name="_y_org" type="xs:string"/>
        <xs:attribute name="_y_range_max_org" type="xs:double"/>
        <xs:attribute name="_y_range_min_org" type="xs:double"/>
        <xs:attribute name="_z_org" type="xs:string"/>
        <xs:attribute name="_z_range_max_org" type="xs:double"/>
        <xs:attribute name="_z_range_min_org" type="xs:double"/>
    </xs:attributeGroup>

    <!-- definition of _viewport attributes -->
    <!-- TODO: re-add `required` attribute when all elemnts have a bbox -->
    <xs:attributeGroup name="_viewport">
        <xs:attribute name="_x_max_shift" type="xs:double"/>
        <xs:attribute name="_x_min_shift" type="xs:double"/>
        <xs:attribute name="_y_max_shift" type="xs:double"/>
        <xs:attribute name="_y_min_shift" type="xs:double"/>
        <xs:attribute name="_viewport_x_max_org" type="xs:double"/>
        <xs:attribute name="_viewport_x_min_org" type="xs:double"/>
        <xs:attribute name="_viewport_y_max_org" type="xs:double"/>
        <xs:attribute name="_viewport_y_min_org" type="xs:double"/>
    </xs:attributeGroup>

    <!-- definition of _line_modifications attributes -->
    <xs:attributeGroup name="_line_modifications">
        <xs:attribute name="_line_color_ind_set_by_user" type="xs:integer"/>
        <xs:attribute name="_line_color_rgb_set_by_user" type="xs:string"/>
        <xs:attribute name="_line_spec_set_by_user" type="xs:string"/>
        <xs:attribute name="_line_type_set_by_user" type="xs:integer"/>
        <xs:attribute name="_line_width_set_by_user" type="xs:double"/>
    </xs:attributeGroup>

    <!-- definition of _fill_modifications attributes -->
    <xs:attributeGroup name="_fill_modifications">
        <xs:attribute name="_fill_color_ind_set_by_user" type="xs:integer"/>
        <xs:attribute name="_fill_color_rgb_set_by_user" type="xs:string"/>
        <xs:attribute name="_fill_int_style_set_by_user" type="xs:integer"/>
        <xs:attribute name="_fill_style_set_by_user" type="xs:integer"/>
    </xs:attributeGroup>

    <!-- definition of _text_modifications attributes -->
    <xs:attributeGroup name="_text_modifications">
        <xs:attribute name="_font_set_by_user" type="xs:integer"/>
        <xs:attribute name="_font_precision_set_by_user" type="xs:integer"/>
        <xs:attribute name="_text_align_horizontal_set_by_user" type="xs:integer"/>
        <xs:attribute name="_text_align_vertical_set_by_user" type="xs:integer"/>
        <xs:attribute name="_text_color_ind_set_by_user" type="xs:integer"/>
    </xs:attributeGroup>

    <!-- definition of _marker_modifications attributes -->
    <xs:attributeGroup name="_marker_modifications">
        <xs:attribute name="_border_color_ind_set_by_user" type="xs:integer"/>
        <xs:attribute name="_border_width_set_by_user" type="xs:double"/>
        <xs:attribute name="_marker_color_ind_set_by_user" type="xs:integer"/>
        <xs:attribute name="_marker_color_indices_set_by_user" type="xs:string"/>
        <xs:attribute name="_marker_size_set_by_user" type="xs:double"/>
        <xs:attribute name="_marker_sizes_set_by_user" type="xs:string"/>
        <xs:attribute name="_marker_type_set_by_user" type="xs:integer"/>
    </xs:attributeGroup>
</xs:schema>
